<?xml version="1.0"?>
<configuration>   
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
    <connectionStrings>
        <add name="sqlite" connectionString="Data Source=|DataDirectory|\hw;Pooling=true;FailIfMissing=false;Password=AzraelrabbiT0078"
          providerName="System.Data.SQLite" />
    </connectionStrings>
    <appSettings>
        <add key="Language" value="En"/>
    </appSettings>
</configuration>
